body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.table {
  display: table;
  border-collapse: separate;
  border-spacing: 0px;
}

.thead {
  display: table-header-group;
  color: white;
  font-weight: bold;
  background-color: grey;
}

.tbody {
  display: table-row-group;
}

.tr {
  display: table-row;
  font-size: 19px;
}

.td {
  display: table-cell;
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}

.tr.editing .td input {
  width: 100px;
}

#big {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Horizontally center the children */
  margin-top: 50px;
}

.submit-button {
  margin: 5px;
  padding: 10px;
}

h1 {
  display: flex;
  justify-content: center;
}

#lottery-image {
  margin: 5rem;
  width: 400px;
  height: 400px;
}