{% extends "homeLayout.html" %}

{% block body %}

    <div class="blanks">
        <form class="frm" action="/" method="post">
            <input autocompleta="off" autofocus name="name" placeholder="First Name" type="text" onkeydown="return /[a-z]/i.test(event.key)"/>
            <br><br>

            <input autocompleta="off" autofocus name="name" placeholder="Last Name" type="text" onkeydown="return /[a-z]/i.test(event.key)"/>
            <br><br>


            <select id="university-dropdown">
                <option value="" disabled selected>Select an option</option>
                {% for university in universities %}
                    <option value="{{ university }}">{{ university }}</option>
                {% endfor %}
            </select>

            <br><br>


            <input autocompleta="off" autofocus name="name" placeholder="ID" type="number">
            <br><br>
        </form>

    </div>

    <div class="button">
        <form action="/" method="post">
            <button type="submit">Register</button>
        </form>
    </div>
    


{% endblock %}