{% extends "homeLayout.html" %}

{% block body %}
    <center>
        <div class="container">
            <h1 class="title">Welcome to our research in Department of Risk, Actuarial, and Legal Studies</h1>

            <div class="form-container">
                <form action="/user_info" method="post">
                    <div class="input-group">

                        <!-- First & last name only accepting letters -->
                        <label for="first-name" class="red-asterik">First Name:</label><br>
                        <input autocomplete="off" autofocus id="first-name" name="first_name" placeholder="Enter your first name" type="text" class="input-field" onkeydown="return /[a-z]/i.test(event.key)" required /><br>
                    </div>

                    <div class="input-group">
                        <label for="last-name" class="red-asterik">Last Name:</label><br>
                        <input autocomplete="off" autofocus id="last-name" name="last_name" placeholder="Enter your last name" type="text" class="input-field" onkeydown="return /[a-z]/i.test(event.key)" required /><br>
                    </div>

                    <div class="input-group">

                        <!-- Student ID only accepting numbers -->
                        <label for="student-id" class="red-asterik">Student ID:</label><br>
                        <input autocomplete="off" autofocus id="student-id" name="student_id" placeholder="Enter your student ID" type="text" class="input-field" onkeypress="return /[0-9]/i.test(event.key)" required /><br>
                    </div>

                    <div class="input-group">
                        <label for="class-dropdown" class="red-asterik">Class:</label><br>
                        <select id="class-dropdown" class="input-field" name="class" required>
                            <option value="" disabled selected>Select your class</option>

                            <!-- will add more classes later on -->
                            {% for Class in classes %}
                                <option value="{{ Class }}">{{ Class }}</option>
                            {% endfor %}
                        </select><br>
                    </div>

                    <div class="input-group">

                        <!-- Instructor name only accepting letters -->
                        <label for="instructor" class="red-asterik">Instructor:</label><br>
                        <input autocomplete="off" autofocus id="instructor" name="instructor" placeholder="Enter your instructor's name" type="text" class="input-field" onkeydown="return /[a-z]/i.test(event.key)" required /><br>
                    </div>

                    <div class="input-group" class="red-asterik">
                        <label for="major" class="red-asterik">Major:</label><br>

                        <!-- Major only accepting letters -->
                        <!-- or do drop down boxes -->
                        <input autocomplete="off" autofocus id="major" name="major" placeholder="Enter your major" type="text" class="input-field" onkeydown="return /[a-z]/i.test(event.key)" required /><br>
                    </div>

                    <div class="input-group">
                        <label for="university-year" class="red-asterik">University Year:</label><br>
                        <select id="university-year" class="input-field" name="university_year" required >
                            <option value="" disabled selected>Select your university year</option>
                            <option value="Freshman">Freshman</option>
                            <option value="Sophomore">Sophomore</option>
                            <option value="Junior">Junior</option>
                            <option value="Senior">Senior</option>
                        </select><br>
                    </div>

                    <div class="input-group">
                        <label>Have you studied statistics before?</label><br>
                        <div class="radio-group">
                            <label>
                                <input type="radio" name="statistics" value="Yes" required>
                                Yes
                            </label>

                            <label>
                                <input type="radio" name="statistics" value="No" required>
                                No
                            </label>
                        </div><br>
                    </div>

                    <!-- Center aligned the Submit button -->
                    <div class="submit-button" style="text-align: center;">
                        <button type="submit" class="submit-button" style="margin-left: auto; margin-right: auto;">Submit</button>
                    </div>

                </form>
            </div>
        </div>
    </center>
{% endblock %}
