{% extends "homeLayout.html" %}

{% block body %}

    <div class="blanks">
        <form class="frm" action="/" method="post">
            <input autocompleta="off" autofocus name="name" placeholder="First Name" type=""text>
            <input autocompleta="off" autofocus name="name" placeholder="Last Name" type=""text>
            <input autocompleta="off" autofocus name="name" placeholder="University" type=""text>
            <input autocompleta="off" autofocus name="name" placeholder="ID" type=""text>
        </form>
    </div>

    <form action="/" method="post">
        <input type="submit">
    </form>


{% endblock %}