<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/lotteries.css" />
    <script type="text/javascript">
        let lotteryNum = parseInt({{ lottery_num|tojson }})// not an error. jinja syntax
    </script>
    <script src="../static/lotteries.js"></script>
    <script type="text/javascript" src="../static/lotteries.json"></script>
    <title>Probability Survey</title>
</head>
<body>
    <div>
        <p id="title"> <b id="task-name">TASK [NUMBER]:</b>&nbsp;For each choice, indicate whether you would prefer playing out the lottery (left) or receiving the sure payout (right).</p>
    </div>
    <div id="wrapper">
        <div class="lottery-container1">
            <h1 class="lottery-title">Lottery</h1>
        </div>
        <div class="lottery-container2">
            <span class="lottery-title" id="arrow">&#10132;</span>
        </div>
        <div class="lottery-container3">
            <h1 id="lottery-description">[DESCRIPTION]</h1>
            {% if visualization %}
            <img id="lottery-image" src="../static/lottery_images/{{ lottery_image }}">
            {% endif %}
        </div>
    </div>

    <div id="big">

        <form id="lotteryForm"> <!-- form submission event listener added in lotteries.js -->
            <div class="table">

                    <div class="thead">
                        <!-- <div class="tr">
                            <div class="td">Round 1</div>
                            <div class="td">Cash Amount</div>
                            <div class="td">User Input</div>
                        </div> -->
                    </div>

                    <div class="tbody" id="tbody">
                        <!-- Rows will be dynamically added here -->
                    </div>

                </div>

                <div class="submit-button" id="submit-button" style="text-align: center;">
                    <button type="submit" class="submit-button" style="margin-left: auto; margin-right: auto;">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>