<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../static/plain_text.css" />
    <title>Link CSS to HTML</title>
</head>
<body>
    <div class="container">
        <h1>Lottery 1</h1>
        <div class="box" id="box1">$100</div>
        <div class="box" id="box2">$25</div>
    </div>
    <script src="../../static/script.js"></script>
</body>
</html>
