<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../static/plain_text.css" />
    <script src="../../static/script.js"></script>
    <title>Document</title>
</head>
<body>
    <div>
        <h1>Lottery: "5% of $50 95% of $5"</h1>
    </div>

    <div id="big">
        <form action="/users_first_choice" method="post" id="lotteryForm">
            <div class="table">

                <div class="thead">
                    <div class="tr">
                        <div class="td">Round 1</div>
                        <div class="td">Cash Amount</div>
                        <div class="td">User Input</div>
                    </div>
                </div>

                <div class="tbody" id="tbody">
                    <!-- Rows will be dynamically added here -->
                </div>

            </div>

            <div class="submit-button" id="submit-button" style="text-align: center;" action="/users_first_choice">
                <button type="submit" class="submit-button" style="margin-left: auto; margin-right: auto;">Submit</button>
             </div>
        </form>
    </div>
</body>
</html>